#initially-showing {
  display: none;
}

#initially-showing1 {
  display: none;
}

#initially-showing2 {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable1 {
  cursor: pointer;
  color: #red;
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #green;
}

.clickable2:hover {
  text-decoration: underline;
}
